body {
  padding: 30px;
  text-align: center;
}

.cell:hover {
  fill: green !important;
  cursor: pointer;
}

#tooltip {
  position: absolute;
  z-index: 10;
  opacity: .9;
  visibility: hidden;
  width: 120px;
  min-height: 55px;
  background: #fff;
  padding: 5px;
  box-shadow: 0 0 10px 2px #404040;
  border-radius: 10px;
}   